.card {
    -fx-background-color: white;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-effect: dropshadow(gaussian, gray, 50, 0, 0, 0);
}

.card:hover {
}

.title {
    -fx-font-family: "Noto Sans CJK SC";
    -fx-fill: #BDBDBD;
    -fx-font-size: 2em;
}

.avg {
    -fx-font-weight: 900;
    -fx-font-size: 5em;
}

.jfx-button {
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-border-color: #D4D7D9;
    -fx-font-family: "Noto Sans CJK SC";
    -fx-font-size: 1.7em;
    -fx-text-fill: black;
}