.root {
    -fx-border-radius: 10px 0px 0px 10px;
    -fx-background-radius: 10px 0px 0px 10px;
    -fx-background-color: #FAFAFA;
    -fx-effect: dropshadow(gaussian, #D4D7D9, 50, 0, 0, 0);
    -fx-font-family: "Noto Sans CJK SC";
}

.close-button {
    -fx-background-color: #FF6058;
    -fx-background-radius: 100%;
}

.close-button:hover {
    -fx-background-color: red;
    -fx-background-radius: 100%;
}

.min-button {
    -fx-background-color: #27CA41;
    -fx-background-radius: 100%;
}

.min-button:hover {
    -fx-background-color: green;
    -fx-background-radius: 100%;
}

.zoom-button {
    -fx-background-color: #FFBD2D;
    -fx-background-radius: 100%;
}

.zoom-button:hover {
    -fx-background-color: yellow;
    -fx-background-radius: 100%;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: transparent;
}

.sideMenu {
    -fx-background-color: transparent;
}

.content {
    -fx-background-color: white;
}

.side-button {
    -fx-background-color: transparent;
    -fx-font-size: 18;
    -fx-text-fill: #0F1F2C;
    -fx-font-weight: normal;
}

.side-button:hover {

}

.side-button:selected {
    /*-fx-background-color: linear-gradient(to right, #ffffffFF, #ffffff33, #FFFFFF22,#FFFFFF00);*/
    -fx-border-width: 0px 5px 0px 0px;
    -fx-text-fill: #F50057;
    -fx-border-color: #F50057;
    -fx-font-weight: bold;
}
